:root {
    --primary-color: #cabdc9;
    --border-color: #BDBDBD;
    --light-gray-color: #F2F2F2;
    --text-body-large: 16px;
    --text-body-medium: 12px;
    --text-body-small: 10px;
    --text-headline-xlarge: 32px;
    --text-headline-large: 24px;
    --text-headline-medium: 20px;
    --text-headline-small: 12px;
    --text-title-large: 32px;
    --text-title-medium: 24px;
    --text-title-small: 16px;
    --text-font-light: 200;
    --text-font-regular: 400;
    --text-font-medium: 500;
    --text-font-bold: 700;
    --spacing-micro: 4px;
    --spacing-small: 8px;
    --spacing-medium: 16px;
    --spacing-large: 24px;
    --spacing-xlarge: 32px;
}

body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Gill sans', sans-serif;
}

h1,
h2,
h3 {
    font-family: 'Playfair Display';
}

.reafy-logo {
    font-size: 32px;
    font-weight: 700;
    src: url('%sveltekit.assets%/fonts/PlayfairDisplay-Bold.tff');
    color: var(--primary-color);
    text-decoration: none;
    font-weight: medium;
    font-family: 'Playfair Display';
}

.reafy-text {
    src: url('%sveltekit.assets%/fonts/PlayfairDisplay-Regular.tff');
    color: var(--primary-color);
    text-decoration: none;
}

@font-face {
    font-family: "Playfair Display";
    src: url('%sveltekit.assets%/fonts/PlayfairDisplay-Regular.tff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Playfair Display";
    src: url('%sveltekit.assets%/fonts/PlayfairDisplay-Bold.tff');
    font-weight: 600;
    font-style: medium;
}